.header {
    height: 50px;
    width: 100%;
}

.title {
    padding: 10px;
}

.body {
    height: calc(100vh - 65px);
}

.sidenav {
    background-color: #3f51b5;
    width: 15%;
    height: calc(100vh - 65px);
    padding-left: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .12);
}

.nav-item {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .12);
    color: white;
    padding: 2px !important;
    width: 97% !important;
}

.text {
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.nav-list {
    width: 99%;
}

.title {
    width: 150px;
    max-width: 150px;
}

.account {
    width: 200px;
    padding-right: 50px;
    background-color: transparent;
    border: none;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    float: left;
    left: 91%;
    position: sticky;
}

.account-icon {
    cursor: pointer;
    border: 1px;
    left: 97%;
    position: sticky;
    background-color: transparent;
}

@media (max-width: 890px) {
    .account {
        left: 86%;
    }

    .account-icon {
        left: 94%;
        padding-left: 3px;
    }
}

.expansive-panel {
    background-color: transparent;
}

.expansive-header {
    padding-left: 1px;
}