<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">{{title}}</h1>
    <button mat-icon-button class="account" [matMenuTriggerFor]="menu" [matTooltip]="fullname"> {{fullname}}</button>
    <mat-icon class="account-icon" [matMenuTriggerFor]="menu" [matTooltip]="fullname">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/my-account'">
        <mat-icon>account_circle</mat-icon> Minha conta
      </button>
      <button mat-menu-item (click)="onExit()">
        <mat-icon>logout</mat-icon> Sair
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container (backdropClick)="sidenav?.toggle()">
  <mat-sidenav [mode]="mode" #sidenav class="sidenav" (keydown.escape)="sidenav?.toggle()">
    <mat-nav-list class="nav-list">

      <a matTooltip="Usuários" class="nav-item" mat-list-item [routerLink]="'/users'"
        (click)="onClick('Usuários', sidenav)">
        <mat-icon>person</mat-icon>
        <span class="text">Usuários</span>
      </a>

      <a matTooltip="Usuários do sistema" class="nav-item" mat-list-item [routerLink]="'/user-systems'"
        (click)="onClick('Usuários do sistema', sidenav)">
        <mat-icon>manage_accounts</mat-icon>
        <span class="text">Usuários do sistema</span>
      </a>

      <a matTooltip="Configurações" class="nav-item" mat-list-item [routerLink]="'/settings'"
        (click)="onClick('Configurações', sidenav)">
        <mat-icon>settings</mat-icon>
        <span class="text">Configurações</span>
      </a>

      <a matTooltip="Minha conta" class="nav-item" mat-list-item [routerLink]="'/my-account'"
        (click)="onClick('Minha conta', sidenav)">
        <mat-icon>account_circle</mat-icon>
        <span class="text">Minha conta</span>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>