<mat-spinner *ngIf="isLoading" class="spinner-centered"></mat-spinner>

<app-header-back title="Editar meus dados"></app-header-back>

<form *ngIf="form && !isLoading" [formGroup]="form" class="form">

    <table class="table" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="table">
                    <mat-label>Senha atual</mat-label>
                    <input type="password" matInput formControlName="currentPass">
                    <mat-error *ngIf="form.get('currentPass')?.hasError('required')">
                        Senha não pode ser vazia
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            
            <td>
                <mat-form-field class="table">
                    <mat-label>Nova senha</mat-label>
                    <input type="password" matInput formControlName="pass">
                    <mat-error *ngIf="form.get('pass')?.hasError('required')">
                        Senha não pode ser vazia
                    </mat-error>
                </mat-form-field>
            </td>
            
            <td>
                <mat-form-field class="table">
                    <mat-label>Confirmar senha</mat-label>
                    <input type="password" matInput formControlName="pass2">
                    <mat-error *ngIf="form.get('pass2')?.hasError('required')">
                        Senha não pode ser vazia
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <app-save-buttons [form]="form" (onSaveClick)="save()">
    </app-save-buttons>
</form>